[Desktop Entry]
Name=Griel's Quest for the Sangraal
Name[ca]=Griel's Quest for the Sangraal
Name[en_GB]=Griel's Quest for the Sangraal
Name[es]=Griel's Quest for the Sangraal
Comment=Indie platform game by Locomalito
Comment[ca]=Joc de lógica amb estil MSX
Comment[en_GB]=Logic game with MSX-Style
Comment[es]=Juego de lógica al estilo MSX
Exec=griel
Icon=griel
Terminal=false
Type=Application
Categories=Game;LogicGame;
StartupNotify=false
Version=1.0
X-Desktop-File-Install-Version=0.19
